/* wrapper authentications */
.globalWrapper {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* border: 1px solid blue; */
}
.wrapperLayerLeft {
    height: 500px;
}

.img {
    width: 600px;
    height: 400px;
}

@media only screen and (max-width: 600px) {
    /* .wrapperLayerLeft {
      
    } */

    .img {
        display: none;
    }
  }