/* wrapper authentications */
.globalWrapper {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* border: 1px solid blue; */
}
.wrapperLayerLeft {
    height: 500px;
}

.imgWrapper {
    width: 600px;
    height: 400px;
}