._wrapperContainer {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
    position: relative;
    z-index: 10;
}

._brandLogo {
    width: 100px;
    height: 80px;
}

._btnGroup {
    display: flex;
    gap: 10;
    width: 220px;
    justify-content: space-between;
    /* border: 1px solid red; */
}

@media only screen and (max-width: 600px) {
    ._wrapperContainer {
        border: 1px solid red;
        display: none;
    }
  }