/* * {
  background-color: #E5E5E5;
} */

.img-hover-zoom {
  height: 300px;
  overflow: hidden;
}

.img-hover-image {
  transform-origin: 0 0;
  transition: transform 0.5s ease-in-out;
}

.img-hover-zoom:hover img {
  transform: scale(1.2);
  cursor: pointer;
}