.thumbnail {
  margin-top: 100px;
  text-align: center;
  /* border: 1px solid red; */
}

.imagesGroupWrapper {
  display: flex;
  height: 400px;
  gap: 30px;
  margin-top: 80px;
}

.globalWrapper {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* border: 1px solid blue; */
}

.imgWrapper {
  width: 600px;
  height: 400px;
}

.staticUiGroupd {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.wrapperContentDesc {
  width: 250px;
  height: 270px;
  border: 1px solid;
  padding: 10px;
}

.wrapperContentDesc h1 {
  font-size: 20px;
}

@media only screen and (max-width: 900px) {
  .thumbnail {
    width: 100%;
    /* border: 1px solid red; */
  }
  .staticUiGroupd,
  .imagesGroupWrapper {
    display: none;
  }
}
