.thumbnail {
  margin-top: 100px;
  text-align: center;
  border: 1px solid red;
}

.imagesGroupWrapper {
  display: flex;
  height: 400px;
  gap: 30px;
  margin-top: 180px;
  /* border: 1px solid red; */
}

.globalWrapper {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* border: 1px solid blue; */
}

.imgWrapper {
  width: 600px;
  height: 400px;
}

.staticUiGroupd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
}

.wrapperContentDesc {
  width: 250px;
  height: 270px;
  border: 1px solid;
  padding: 10px;
}

.wrapperContentDesc h1 {
  font-size: 20px;
}

._wrappered {
  border: 1px solid;
  display: flex;
  align-items: center;
  width: 400px;
  padding: 10px;
  height: 370px;
}

@media only screen and (max-width: 900px) {
  .thumbnail {
    width: 100%;
    /* border: 1px solid red; */
  }
  .staticUiGroupd,
  .imagesGroupWrapper {
    display: none;
  }
}

.bottomGroups {
  border: 1px solid black;
  height: 600px;
}