* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.global-flex-center-column {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.page-layout-desktop {
  height: 600px;
}

.navbar-desktop {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.navbar-desktop > :nth-child(odd) {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-desktop > :nth-child(even) {
  display: flex;
  align-items: center;
  gap: 10px;
}

.layout-desktop-thumbnails {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-layout-desktop-bottom {
  background-color: #eaeaea;
  height: 50vh;
  border: 1px solid transparent;
}

.layout-desktop-bottom {
  background-color: #eaeaea;
  padding-bottom: 30px;
}

.books-card-wrapper {
  margin-top: -110px;
  /* border: 1px solid blue; */
  height: 300px;
}

.books-card-wrapper > :nth-child(1) {
  display: flex;
  justify-content: space-between;
}

.cards-thumbnail {
  display: flex;
  align-items: center;
  width: 425px;
}

.cards-thumbnail > :nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 200px;
  background-color: #ffff;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.mobile-navbar {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: #FFFF;
}

.lists-books-thumbnail {
  display: flex;
  gap: 10px;
  width: 90vw;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.books-with-title {
  border: 1px solid #929292;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.author {
  font-style: italic;
  color: #929292;
}

.layout-mobile {
  margin-top: 80px;
}