* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

html {
  width: 100vw;
  overflow-x: clip;
}

.global-flex-center-column {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.page-layout-desktop {
  height: 600px;
  width: 100%;
}

.navbar-desktop {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.navbar-desktop > :nth-child(odd) {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-desktop > :nth-child(even) {
  display: flex;
  align-items: center;
  gap: 10px;
}

.layout-desktop-thumbnails {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layout-desktop-thumbnails > h1 {
  font-size: 50px;
}

.page-layout-desktop-bottom {
  background-color: #eaeaea;
  height: 40vh;
  border: 1px solid transparent;
}

.layout-desktop-bottom {
  background-color: #eaeaea;
  padding-bottom: 30px;
}

.books-card-wrapper {
  margin-top: -110px;
  min-height: 300px;
  border: 1px solid transparent;
}

.books-card-wrapper > :nth-child(1) {
  display: flex;
  justify-content: space-between;
  overflow-y: scroll;
  width: 100vw;
}

.static-width-300 {
  width: 300px;
}

.cards-thumbnail {
  display: flex;
  align-items: center;
  width: 425px;
  border: 1px solid #eaeaea;
}

.cards-thumbnail > :nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 200px;
  background-color: #ffff;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.mobile-navbar {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: #ffff;
  top: 0;
  z-index: 1;
}

.display-mobile-navbar {
  display: none;
}

.lists-books-thumbnail {
  display: flex;
  gap: 10px;
  width: 90vw;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}

.books-with-title {
  border: 1px solid #929292;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 230px;
}

.author {
  font-style: italic;
  color: #929292;
}

.layout-mobile {
  margin-top: 80px;
}

.navbar-authenticated-mobile {
  display: none;
}

.right-navbar-section {
  display: flex;
  align-items: center;
}

.preloader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  width: 100%;
  color: inherit;
}

.items-list-product {
  display: flex;
  border: 1px solid red;
  justify-content: space-between;
}

.cart-item-lists {
  border: 1px solid blue;
  width: 60vw;
}

@media (max-width: 700px) {
  .navbar-desktop {
    display: none;
  }

  .display-mobile-navbar {
    display: block;
  }

  .navbar-authenticated-mobile {
    display: block;
  }

  .layout-desktop-thumbnails {
    width: 100%;
  }

  .layout-desktop-thumbnails > h1 {
    font-size: 25px;
    text-align: center;
  }

  .page-layout-desktop {
    height: 255px;
    width: 100%;
  }

  .cards-thumbnail {
    margin-top: 20px;
  }

  .page-layout-desktop-bottom {
    height: 35vh;
  }
}

@media (max-width: 550px) {
  .books-with-title {
    max-width: 100%;
  }
}
