* {
  padding: 0;
  margin: 0;
}

.page-layout-desktop {
  border: 1px solid red;
  height: 500px;
}

.navbar-desktop {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.navbar-desktop > :nth-child(odd) {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-desktop > :nth-child(even) {
  display: flex;
  align-items: center;
  gap: 10px;
}

.layout-desktop-thumbnails {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}