._containerWrapper {
    /* border: 1px solid red; */
}

._img {
    /* border: 1px solid red; */
    width: 300px;
    height: 500px;
    border-radius: 10px;
}

@media (max-width: 500px) {
    ._img {
        width: 30%;
        height: 40%;
    }
}